.albumPageWrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 1500px;

    .button {
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .title {
        font-family: var(--text-family-primary);
    }


    .albumPageContainer {
        display: flex;
        align-items: center;
        margin: auto auto;

        div {
            width: 50%;
            margin: 2.5rem;
        }

        .imgContainer {
            box-sizing: content-box;

            div {
                height: 40vh !important;
                width: 40vw !important;
            }
        }

        .albumInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h1 {
                margin-bottom: 2rem;
            }

            .info {
                font-family: var(--text-family-body);
                font-weight: 500;
                font-size: 1.7vh;
                margin: 0;
                color: --color-text-primary;
                width: 75%;
            }

            .buyBtn {
                align-self: flex-end;
                text-align: end;
                margin: 0;
                font-family: var(--text-family-primary);

                a {
                    box-shadow: inset 0 0 0 0 var(--color-text-primary);
                    color: var(--color-text-primary);
                    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                    text-decoration: none;
                    font-weight: 600;
                    letter-spacing: 0.2rem;
                    font-size: 1rem;
                }

                a:hover {
                    color: var(--color-text-secondary);
                    box-shadow: inset 200px 0 0 0 var(--color-text-primary);
                    ;
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    .albumPageWrapper {
        .albumPageContainer {
            flex-direction: column;

            div {
                width: 100%;
                padding: 0.5rem;
            }
        }
    }
}