.card {
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

  .overlayText {
    font-family: var(--text-family-primary);
    font-size: 1.5vh;
    letter-spacing: 0em;
    font-weight: 600;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }

    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-30px);
    }

    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
}