.artistPageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 3rem;

    .col {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
        // background-color: white;

        .imageCard{
            width: 30%;
            // padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .infoCard {
            width: 70%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: var(--color-bg-toggle);
        }

        .bio {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                color: var(--color-text-secondary);
            }
        }
    }

    .cardTitle, .mainTitle {
        // font-size: 2vh;
        align-self: flex-start;
        color: var(--color-text-primary);
        background-color: var(--color-bg-primary);
        padding: 1rem;
        width: fit-content;

    }

    .releases {
        display: contents;
        background-color: var(--color-bg-toggle);
        
        .releasesContainer {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }

    .button {
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;

    }

}

@media screen and (max-width: 600px) {
    .artistPageContainer {
        padding: 0;
        .artistContents {
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            align-items: center;
        }
        .row {
            gap: 0;
        }

        .bio {
            .socials {
                min-width: 100%;
            }
        }
        .row {
            flex-direction: column;
            align-items: center;


            .imageCard {
                width: 100%;
            }
            .infoCard {
                width: 100vw;
                padding: 1rem;
                align-items: center;
            }
        }
        .releases {
                        
            .releasesContainer {
                flex-direction: column;
            }
        }
    }
}