.artistsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1600px;
    padding: 3rem;

}



@media (max-width: 600px) {
    .artistsGrid {
        grid-template-columns: 1fr;
        width: 100%;
        flex-direction: column;
    }
}