.container {
    // display: flex;
    // width: 100vw;
    // max-height: 80%;
    // gap: 1rem;
    // max-width: 1500px;
    // min-width: 600px;

    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    max-width: 1600px;
    margin: 5em;


    .carousel {
        cursor: grab;
        overflow: hidden;
        background-color: var(--color-bg-primary);
        display: flex;
        border-bottom: 2px solid var(--color-bg-toggle);
        border-top: 2px solid var(--color-bg-toggle);
        margin: 20px;
    }


    .innerCarousel {
        display: flex;
        padding: 2em;
        margin-left: 2em;
    }

    .item {
        padding: 3em;
        min-width: 25rem;
    }
}



@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}