.artistsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1600px;
    margin: 5em;

}



@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}