.contentWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto auto;
  background-color: inherit;
  flex: 1;
  overflow: hidden;
  padding-top: 170px;
  // padding: 3rem;
}