@font-face {
  font-family: Sansumi-Regular;
  src: url("../public/fonts/sansumi/Sansumi-Regular.ttf");
}

@font-face {
  font-family: Sansumi-Bold;
  src: url("../public/fonts/sansumi/Sansumi-Bold.ttf");
}

@font-face {
  font-family: Sansumi-Demi-Bold;
  src: url("../public/fonts/sansumi/Sansumi-DemiBold.ttf");
}

@font-face {
  font-family: "Sansumi-Ultra-Light";
  src: url("../public/fonts/sansumi/Sansumi-UltraLight.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

// .carousel {
//   overflow: hidden;
// }

// .carousel-control-prev {
//   height: 80% !important;
// }

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   // height: max-content;
//   background-color: #fa0d5e;
//   border-radius: 5px;
//   margin: -10%;
// }

// .carousel-control-next {
//   height: 80% !important;
// }

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   visibility: hidden;
// }

// .carousel:hover,
// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   visibility: visible;
// }
.carousel-indicators {
  display: none;
}
// body[data-theme="light"] {
//   --color-text-primary: #0c0f17;
//   --color-text-secondary: #e3e3e3;
//   --color-bg-primary: #fff;
//   --color-bg-toggle: black;
//   --color-text-hover: #fa0d5e;
//   --color-box-primary: rgba(3, 8, 20, 0.1);
// }

.themeToggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  height: 60px;
  width: 60px;
}

.toggleItems {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  p {
    color: var(--color-bg-primary);
    font-size: 10px;
    margin: 0;
    padding: 5px;
  }
}


body {
  padding: 0;
  margin: 0;
  --text-family-primary: 'Oswald', sans-serif !important;
  --text-family-bold: 'Oswald', sans-serif !important;
  --text-family-secondary: 'Fjalla One', sans-serif;
  --text-family-body: 'Montserrat', sans-serif;
  transition: background-color 0.25s ease-in-out;
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #0c0f17;
  --color-bg-primary: black;
  --color-bg-toggle: #fff;
  --color-text-hover: cornflowerblue;
  --color-box-primary: rgba(227, 227, 227);
}

.btnMain {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-text-secondary);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--text-family-primary);

  .icon {
    padding-right: 0.5rem;
  }

  p {
    box-shadow: inset 0 0 0 0 var(--color-text-primary);
    color: var(--color-text-primary);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding: 0.5em;
  }

  p:hover {
    color: var(--color-text-secondary);
    box-shadow: inset 200px 0 0 0 var(--color-text-primary);
    ;
  }

}

.effect-1 {
  overflow: hidden;
  background-color: var(--color-bg-primary);
}

.lightBulb,
.moon {
  color: var(--color-text-primary);
  font-size: 20px;
  z-index: 2;

  :hover {
    color: var(--color-text-hover);
    transition: color 1s ease-in-out;
  }
}

.iconArrow {
  transform: rotate(90deg);
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text-primary);
  font-weight: 700 !important;
  letter-spacing: 0.3rem;
  font-family: var(--text-family-primary);
}
a {
  font-weight: 600 !important;
  letter-spacing: 0.3rem;
}

p {
  color: var(--color-text-primary);
  font-family: var(--text-family-body);
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media (max-width: 960px) {

  .lightBulb,
  .moon {
    color: var(--color-text-primary);
    font-size: 5.5vw;
  }
}

h5 {
  font-size: 10px !important;
}

h1 {
  font-size: 56px !important;
}

p {
  font-size: 14px !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 25px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 20px !important;
  }
} 
@media screen and (max-width: 940px) and (orientation: landscape) {
  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 25px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 20px !important;
  }
} 
@media screen and (max-width: 480px) {
  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 20px!important;
  }

  h3 {
    font-size: 15px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  h5 {
    font-size: 15px !important;
  }

  p {
    font-size: 10px !important;
  }
} 