@import "../styles/AlbumCard.module.scss";
@import "../styles/AlbumPage.module.scss";
@import "../styles/Albums.module.scss";
@import "../styles/ArtistCard.module.scss";
@import "../styles/ArtistPage.module.scss";
@import "../styles/Artists.module.scss";
@import "../styles/Carousel.module.scss";
@import "../styles/ContentWrapper.module.scss";
@import "../styles/DesktopNav.module.scss";
@import "../styles/Footer.module.scss";
@import "../styles/Header.module.scss";
@import "../styles/LatestReleases.module.scss";
@import "../styles/Links.module.scss";
@import "../styles/NavLogo.module.scss";
@import "../styles/PageLabel.module.scss";
@import "../styles/Transition.module.scss";

.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  min-width: 600px;
  height: 80vh;

  video {
    margin: 1em;
    height: 100%;
    width: 100%;
  }
}