.landingContainer {
  // position: fixed;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  min-width: 600px;
  height: 80vh;
}