@import "../styles/AlbumCard.module.scss";
@import "../styles/AlbumPage.module.scss";
@import "../styles/Albums.module.scss";
@import "../styles/ArtistCard.module.scss";
@import "../styles/ArtistPage.module.scss";
@import "../styles/Artists.module.scss";
@import "../styles/Carousel.module.scss";
@import "../styles/ContentWrapper.module.scss";
@import "../styles/DesktopNav.module.scss";
@import "../styles/Footer.module.scss";
@import "../styles/Header.module.scss";
@import "../styles/LatestReleases.module.scss";
@import "../styles/Links.module.scss";
@import "../styles/NavLogo.module.scss";
@import "../styles/PageLabel.module.scss";
@import "../styles/Transition.module.scss";
@import "../styles/About.module.scss";

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  gap: 2rem;
  padding: 2rem;

  .latestReleasesContainer {
    display: flex;
    flex-direction: row;
    background-color: var( --color-bg-toggle);
    padding: 2rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .landingContainer {
    .latestReleasesContainer {
      flex-direction: column;
    }
  }
}