.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

    .navLogoText {
        color: var(--color-text-primary);
        list-style-type: none;
        text-decoration: none;
        font-size: 2vh;
        font-weight: 900;
        display: flex;
        align-items: center;
        // margin: 1em;

        .navLogo {
            height: 30px;
            width: 50px;
            // padding-right: 2em;
        }
    }



    .navLogoText:hover {
        color: var(--color-text-hover);
        transition: color 1s ease-in-out;
    }

}